<div class="vertical-nav bg-dark" id="sidebar">

  <div class="py-4 px-3  bg-dark">
    <a class="navbar-brand" href="#"><h4>MiniSpotify</h4></a>
  </div>
  
  <ul class="nav flex-column bg-dark mb-0">
    <li class="nav-item" routerLinkActive="active"> 
      <a (click)="GetBuscadorLanzamientos()" class="nav-link text-light font-italic bg-dark">
        Lanzamientos
      </a>
    </li>
  </ul>

  <ul class="nav flex-column bg-dark mb-0">
    <li class="nav-item" routerLinkActive="active"> 
      <a (click)="GetBuscadorCategorias()" class="nav-link text-light font-italic bg-dark">
        Categorías
      </a>
    </li>
  </ul>
  
  <ul class="nav flex-column bg-dark mb-0">
    <li class="nav-item" routerLinkActive="active">
      <a (click)="GetBuscadorSearch()" class="nav-link text-light font-italic bg-dark">
         Search
      </a>
    </li>
  </ul>

</div>


