<div class="vertical-nav bg-dark" id="sidebar">
  <div class="py-4 px-3  bg-dark">
      <div class="media-body">
          <a class="navbar-brand" href="#"><h3>MiniSpotify</h3></a>
      </div>
  </div>


  <ul class="nav flex-column bg-dark mb-0">
    <li class="nav-item" routerLinkActive="active">
        <a routerLink="search" class="nav-link text-light font-italic bg-dark">
              <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
              Search
          </a>
    </li>
  </ul>

</div>


