<app-loading *ngIf="GetLoading"></app-loading>

<div class="artist__header container-xl " 
style="
background-image: linear-gradient(
  rgba(25, 209, 231, 0.5),
  rgba(243, 17, 224, 0.5)
),
url({{GetAlbumsID.images[0].url | pipeImage}}); ">

  <div class="artist__info">
    <div class="profile__img">
      <img [src]="GetAlbumsID.images[0].url | pipeImage" alt={{GetAlbumsID.name}} />
    </div>
    <div class="artist__info__meta">
      <div class="artist__info__name"> {{GetAlbumsID.name}} </div>
      <div class="artist__info__actions">   
        <div class="row">
          <div class="col-5">
            <button class="button-light"><a href="{{GetAlbumsID.external_urls.spotify}}" style="color: #ffffff;">spotify </a></button>
          </div>
          <div class="col-7">
            <button class="button-light" ><a id="RepArtista"click="516565165" style="color: #ffffff;">Reproducir </a></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="artist__listeners">
    <div> <span *ngFor="let genre of GetAlbumsID.genres"> {{genre}}</span></div>
    <div> popularity : {{GetAlbumsID.popularity}}</div>
  </div>

  <div class="artist__navigation">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#artist-overview" aria-controls="artist-overview" role="tab" data-toggle="tab">lista</a>
      </li>
      <li role="presentation">
        <a href="#related-artists" aria-controls="related-artists" role="tab" data-toggle="tab">álbum</a>
      </li>
    </ul>
  </div>

</div>


<div class="container-xl">
  <div class="tab-content">
  
    <div role="tabpanel" class="tab-pane active" id="artist-overview">
      <div class="overview__albums">
        <div class="overview__albums__head row">
          <span class="col">#</span>
          <span class="col-5">Cancion</span>
          <span class="col">Tiempo</span>
        </div>
    
        <div class="album" >
          <div class="tracks" style="padding-bottom: 60px; ">
            <div class="track row" *ngFor="let tracks of GetAlbumsIdTras ;let indice=index" >
              <div class="track__number col" >
                {{indice+1}} 
              </div>
              <div class="col-5 feature">{{tracks.name}}</div>
              <div  class="col">{{tracks.duration_ms  | minutes}} </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  
    <div role="tabpanel " class="tab-pane" id="related-artists">
      <div class="media-cards" >
        <div class="media-card border-radius" *ngFor="let tracksAlbums of GetAlbumsIdTras "  >
          <!--<img  class="media-card__image border-radius-higher" [src]="tracksAlbums.album.images| pipeImage"-->
          <a class="media-card__footer border-radius-lower">{{tracksAlbums.name}}</a>
        </div>
      </div>
    </div>

  </div>
</div>
