<div class="row animated fadeIn ">
  <div class="col-md-3 img" (click)="Busqueda(Newrelease)" *ngFor="let Newrelease of Newreleases">
    <div class="card mb-3 shadow-sm puntero">


      <img class="heaven" class="card-img-top" [src]="Newrelease.images | pipeImage" alt="Card image cap">
      <img class="top card-img-top" src="../../../assets/img/play.png" />

      <div class="card-body">
        <h6 class="card-title">{{Newrelease.name}}</h6>
        <div class="row d-flex justify-content-between align-items-center">
          <div class="col-12">
            <span *ngFor="let artists of Newrelease.artists" class="badge badge-secondary">{{artists.name}}</span>
          </div>
      </div>

    </div>
  </div>
</div>




