.card {
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
  border-radius: 10%;
  background: #000000;
}

.card-body {
  background: #000000;
}



















.lef{
  position:absolute;
  z-index: 1;
}

.top {
  position:absolute;
  padding: 35%;
  z-index: 2;
  opacity: 0;
}

.top:hover {
  opacity: .8;
}

.card {
  background-color: #333333;
}

.card-title {
  color: #e6e6e6;
}

