<div  class="st-navbar-desktop-wrapper st-navbar-desktop-fixed">
  <div class="st-navbar-desktop">
    <div class="containe">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for carousel items -->
          <div class="carousel-inner  ">
            <div class="carousel-item active ">
              <div class="row">
                <div class="col-2">
                </div>
                <div class="col-2">
                  <img class="img-box" src="https://i.scdn.co/image/ab67616d0000b27392bb8047753d97ff274b2f5f" alt="">
                </div>
                <div class="col-6">
                  <p class="testimonial">A Love Letter To You 3 </p>
                  <p class="overview">1400 / 999 Freestyle</p>
                </div>
              </div>
            </div>
            <div class="carousel-item  ">
              <div class="row">
                <div class="col-2">
                </div>
                <div class="col-2">
                  <img class="img-box" src="https://i.scdn.co/image/ab67616d0000b27392bb8047753d97ff274b2f5f" alt="">
                </div>
                <div class="col-6">
                  <p class="testimonial">A Love Letter To You 3 </p>
                  <p class="overview">1400 / 999 Freestyle</p>
                </div>
              </div>
            </div>
            <div class="carousel-item  ">
              <div class="row">
                <div class="col-2">
                </div>
                <div class="col-2">
                  <img class="img-box" src="https://i.scdn.co/image/ab67616d0000b27392bb8047753d97ff274b2f5f" alt="">
                </div>
                <div class="col-6">
                  <p class="testimonial">A Love Letter To You 3 </p>
                  <p class="overview">1400 / 999 Freestyle</p>
                </div>
              </div>
            </div>
          </div>
            <a class="carousel-control-prev text-primary" href="#myCarousel" data-slide="prev">
              <i class="fa fa-angle-left">as</i>
            </a>
            <a class="carousel-control-next text-primary" href="#myCarousel" data-slide="next">
              <i class="fa fa-angle-right">as</i>
            </a>
      </div>
    </div>
  </div>
</div>












